<div>
  <span class="slider-flex">
    <span class="slider-label font-style">Day</span>
    <ngx-slider [(value)]="dateSliderValue" [options]="dateSliderOptions" class="date-slider"></ngx-slider>
  </span>
  <span class="slider-flex">
    <span class="slider-label font-style">Time</span>
    <ngx-slider [(value)]="timeSliderValue" [options]="timeSliderOptions"></ngx-slider>
  </span>
  <span class="slider-flex">
    <span class="slider-label font-style">Epoch</span>
    <ngx-slider [(value)]="epochSliderValue" [options]="epochSliderOptions"></ngx-slider>
  </span>
</div>
