.ngx-slider {
  margin-right: 20px;
  margin-left: 20px;
}

.slider-label {
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.039em;
  margin-left: 5px;
  margin-right: 5px;
}

.slider-flex {
  display: flex;
  align-items: center;
}

.font-style {
  color: white;
}
